Options +FollowSymLinks
RewriteEngine On

#urls
DirectoryIndex controller/index.php
RewriteRule ^$ controller/index.php
RewriteRule ^convocatorias/$ controller/oppositions.php
RewriteRule ^convocatorias/convocatoria/([^/]*)$ controller/opposition.php?id=$1 [L]

RewriteRule ^login/$ controller/login.php
RewriteRule ^perfil/$ controller/profile.php

RewriteRule ^temas/$ controller/themes.php
RewriteRule ^crear-tema/$ controller/theme_add.php
RewriteRule ^lista-tema/$ controller/theme_list.php
RewriteRule ^temas/tema/([^/]*)$ controller/theme.php?id=$1 [L]

RewriteRule ^crear-convocatoria/$ controller/opposition_add.php
RewriteRule ^lista-convocatoria/$ controller/opposition_list.php
RewriteRule ^convocatorias/ambitos/$ controller/opposition_ambit_list.php
RewriteRule ^convocatorias/ambitos/crear/$ controller/opposition_ambit_add.php
RewriteRule ^convocatorias/ambitos/([^/]*)$ controller/opposition_ambit.php?id=$1 [L]
RewriteRule ^convocatorias/categorias/$ controller/opposition_category_list.php
RewriteRule ^convocatorias/categorias/crear/$ controller/opposition_category_add.php

RewriteRule ^jsonManager/([^/]*)$ controller/jsonManager.php?request=$1 [L]

RewriteRule ^foro/$ controller/forum.php
RewriteRule ^foro/([^/]*)$ controller/forum_post.php?id=$1 [L]
RewriteRule ^crear-post/$ controller/forum_post_add.php

RewriteRule ^contacto/$ controller/contact.php
RewriteRule ^privacidad/$ controller/addprivacy.php

RewriteRule ^admin/$ controller/admin.php
RewriteRule ^admin/usuarios/$ controller/admin_users.php
RewriteRule ^admin/crear/$ controller/admin_user_add.php
RewriteRule ^admin/editar/([^/]*)$ controller/admin_user_edit.php?id=$1 [L]
RewriteRule ^admin/carroussel/$ controller/admin_carroussel.php
RewriteRule ^admin/carroussel/crear/$ controller/admin_carroussel_add.php
RewriteRule ^admin/notificaciones/$ controller/admin_notifications.php

RewriteRule ^404/$ controller/404.php
ErrorDocument 404 /toposiciones/404/

