/* ########## GENERAL ########## */

/* Color VARIABLES */
:root {
  --main-color: #0bc2ca;
  --second-color: #555;
  --color-gray: #6c757d;
  --color-black: #181a21;
  --color-back: #0d283b;
  --color-white: #e8e8e8;
}

body {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

a:hover i::before {
  color: var(--main-color);
}

.active-link {
  color: var(--main-color) !important;
}

.active-link i::before {
  color: var(--main-color) !important;
}

.btn a {
  color: var(--color-white);
}

h1 {
  font-size: 40px;
  letter-spacing: 0;
}

h2 {
  font-size: 50px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0px;
}

.body-content h3 {
  color: var(--second-color);
}

.body-content h3:hover {
  color: var(--color-back);
}

.modal-dialog {
  margin-top: 0rem;
  max-width: 100%;
}

.btn {
  margin: 0.2rem;
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.modal-content {
  border-radius: 0rem;
}

.modal-open[style] {
  padding-right: 0px !important;
}

/* FOOTER */
footer {
  margin-top: auto;
  width: 100%;
  color: white;
  margin-top: 50px;
}

footer div:nth-child(1) {
  background-color: var(--color-back);
}
footer div:nth-child(2) {
  background-color: var(--color-black);
}
.copyright {
  color: white;
}

/* SIDE BARS */
.left-bar,
.right-bar {
  padding: 0;
}

.secondary {
  color: var(--second-color);
  font-size: 0.75em;
  bottom: 0;
  left: 70%;
  margin-top: 5px;
}

.left-bar .list-group-item,
.right-bar .list-group-item {
  line-height: normal;
  padding-bottom: 0;
}

.left-bar .list-group-item img,
.right-bar .list-group-item img {
  margin-right: 5px;
  float: left;
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.left-bar > div,
.right-bar > div {
  top: 72px;
  margin: 2%;
}

.right-bar {
  display: none !important;
}

.card-title {
  background-color: white;
  font-size: 25px;
  margin-top: -30px;
  text-align: center;
  margin-bottom: 0;
}

.card-img-top {
  margin: 0 auto;
  width: 150px;
  height: 105px;
  overflow: hidden;
}

.card-link {
  font-size: 14px;
}

/* BREADCRUMB */
.breadcrumb {
  margin-bottom: 5px;
}
.breadcrumb-nav {
  top: 64px;
  z-index: 1022;
}

#wrapper {
  margin: 0px;
}
#content {
  padding: 0 2%;
}

/* BACKTOTOP */
#backToTopBtn {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#backToTopBtn > i {
  top: 50%;
}

#backToTopBtn:hover {
  background-color: var(--second-color);
}

/* Menu */
#menu-bar {
  z-index: 1021;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: var(--color-back);
}

#menu-bar a {
  color: white;
}

#menu-first-line {
  display: block !important;
  float: left;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 800;
}

#navbarSupportedContent {
  float: left;
  position: relative;
  align-self: stretch;
  text-align: center;
  float: left;
}

#navbarSupportedContent ul li:hover a {
  color: var(--main-color) !important;
}

#main-menu {
  float: left;
}
#main-menu a {
  float: left;
  font-size: 20px;
  color: white;
}

.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  background-color: var(--main-color);
  float: right;
  margin-top: 15px;
}

#brand-menu h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

#brand-menu > div {
  top: 50%;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
}

#brand-menu > img {
  margin: 0 auto;
}

/* ICONS */
#iconos-social {
  float: right;
  margin: 0;
}

#iconos-social li {
  float: left;
  list-style: none;
}

#iconos-social li a {
  font-size: 1.5em;
  margin-left: 0.2em;
  color: white;
}

#iconos-social li a:hover {
  color: var(--main-color);
}

.fas {
  color: white;
}

.fa-trash,
.fa-times-circle {
  color: #c20e68;
}
.fa-trash:hover,
.fa-times-circle:hover,
.fa-check-circle:hover {
  cursor: pointer;
  color: var(--color-back);
}

.fa-check-circle {
  color: green;
}

.fa-eye-slash,
.fa-eye {
  color: var(--main-color) !important;
}

.fa-envelope,
.fa-key {
  color: var(--main-color);
}

.fa-arrow-up,
.fa-arrow-down {
  color: var(--main-color);
}

/* ########## INDIVIDUAL ########## */
#searchBtn {
  cursor: pointer;
}

/* Theme section */
.tema hr {
  margin: 1em auto;
  padding: 0;
  width: 90%;
}

/* Opposition section */
.opposition hr {
  margin: 1em auto;
  padding: 0;
  width: 90%;
}
.opposition_image_container {
  overflow: hidden;
}

.opposition_image_container img {
  margin: auto;
  width: 100px;
  height: 100px;
}

#search-container {
  padding: 0;
}

#search-container > div,
#searchDiv {
  border: 1px solid var(--color-white);
  border-radius: 0.25rem;
  border-top: 0px;
  padding: 5px 20px;
}

#search-container form div {
  display: inline-block;
}

/* Full action button */
.full-action-button {
  min-height: 50px;
  background-color: var(--color-white);
  border-radius: 0.25rem;
  margin-bottom: 5px;
  cursor: pointer;
}

.full-action-button > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.full-action-button a:hover i::before,
.full-action-button a:hover div {
  color: var(--color-black);
}

.full-action-button i {
  margin: 10px;
}

.full-action-button i::before {
  color: var(--main-color);
  font-size: 2em;
  margin-top: 0.5em;
}

.full-action-button div {
  font-size: 2em;
  display: inline-block;
  color: var(--color-gray);
}

/* /Full action button */

.list-table:hover {
  cursor: pointer;
}

.cut {
  max-height: 50px;
  overflow: hidden;
  display: inline-block;
}

td.cut {
  border: none;
}

.input-group-append {
  cursor: pointer;
}

.halfInput {
  float: left;
  padding: 0;
}

/* CKEDITOR */
.ck-input-theme-content .ck-content,
.ck-input-post-content .ck-content {
  height: 500px;
}

#input-message-content .ck-content {
  height: 100px;
}

/* POST */
.post-title {
  font-weight: 600;
}
.post-content {
  font-weight: normal;
}

#forum-body .card {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 0 0 0 rgb(0 0 0 / 12%);
}

#index-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* SNACKBAR */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--color-back);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Carousel */
.carousel-item img {
  height: 350px;
  object-fit: cover;
}

.carousel-caption {
  font-weight: 600;
  background-color: rgba(13, 40, 59, 0.8);
  float: right;
  border-radius: 20px;
}

.carousel-caption h5 {
  font-size: 30px;
}

.half-sq div {
  padding: 0;
}

/* QUOTE */
.quote-card {
  border-radius: 20px;
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 100px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
  padding-top: 15px;
}

.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}
.quote-card.blue-card {
  background: #0078ff;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.blue-card:before,
.quote-card.blue-card:after {
  color: #5faaff;
}
.quote-card.green-card {
  background: #00970b;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.green-card:before,
.quote-card.green-card:after {
  color: #59e063;
}

.quote-card.red-card {
  background: #f61e32;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.red-card:before,
.quote-card.red-card:after {
  color: #f65665;
}

.quote-card.yellow-card {
  background: #f9a825;
  color: #222222;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.yellow-card:before,
.quote-card.yellow-card:after {
  color: #fbc02d;
}

/* MAP */
path,
circle {
  cursor: pointer;
}

#map-container-google {
  height: 500px;
}

#map-container-google iframe {
  width: 40%;
  height: 50%;
}

.trick-img {
  border: none;
  border-radius: 20px;
  max-height: 400px;
}

/* ########## MEDIA QUERIES ########## */
@media (min-width: 1300px) {
  .right-bar {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  #main-menu {
    display: block;
    padding-left: 50px;
    float: left;
  }
}
