{extends 'layouts/main_layout.html'}
{block name="body-content"}
<div class="page-header">
  <h2>{$page->pageTitle}</h2>
</div>
{If isset($smarty.session.login_user) and $smarty.session.login_access_level >= 10 }
<div class="full-action-button text-center">
  <a href="/toposiciones/admin/carroussel/crear/">
    <i class="fas fa-plus-circle"></i>
    <div>Añadir Slide</div>
  </a>
</div>
{/if}
<!-- SECCION TEMAS -->
<div class="col-md-12 col-12 col-sm-12" style="overflow-x: scroll;">
  <table class="table list-table table-striped table-hover table-sm table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Imagen</th>
        <th scope="col">Título</th>
        <th scope="col">Subtítulo</th>
        <th scope="col">orden</th>
        <th scope="col">Creado el</th>
      </tr>
    </thead>
    <tbody>
      {foreach from=$carroussel item=slide}
      <tr onclick="window.location='{$slide.imageLink}'">
        <th>
          <form action="/toposiciones/admin/carroussel/" method="POST">
            <input type="hidden" name="remove-request" value="remove">
            <input type="hidden" name="remove-slide" value="{$slide.slideId}">
            <button type="submit" class="btn btn-light">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </form>
          <form action="/toposiciones/admin/carroussel/" method="POST">
            <input type="hidden" name="move-request" value="up">
            <input type="hidden" name="move-slide" value="{$slide.slideId}">
            <button type="submit" class="btn btn-light">
              <i class="fas fa-arrow-up"></i>
            </button>
          </form>
          <form action="/toposiciones/admin/carroussel/" method="POST">
            <input type="hidden" name="move-request" value="down">
            <input type="hidden" name="move-slide" value="{$slide.slideId}">
            <button type="submit" class="btn btn-light">
              <i class="fas fa-arrow-down"></i>
            </button>
          </form>
        </th>
        <!-- <th scope="row">{$slide.imagePath}</th> -->
        <th scope="row"><img src="{$MEDIA_DIRECTORY}/{$slide.imagePath}" class="img-thumbnail" style="max-width: 200px;"
            alt=""></th>
        <td>{$slide.title}</td>
        <td class="cut">{$slide.subtitle}</td>
        <td>{$slide.slideOrder}</td>
        <td class="cut">{$slide.created_at}</td>
      </tr>
      {/foreach}
    </tbody>
  </table>
</div>

{/block}