{extends 'layouts/main_layout.html'} {block name="body-content"}
<script>
  function showPassword() {
    let pwInput = document.getElementById("input-password");
    if (pwInput.type === "password") {
      pwInput.type = "text";
      pwInput.parentElement.getElementsByTagName("i")[0].className = pwInput.parentElement.getElementsByTagName("i")[0].className.replace("fa-eye-slash", "fa-eye");
    } else {
      pwInput.type = "password";
      pwInput.parentElement.getElementsByTagName("i")[0].className = pwInput.parentElement.getElementsByTagName("i")[0].className.replace("fa-eye", "fa-eye-slash");
    }
  }
  function randomPassword() {
    let alphabet = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789;%";
    let alphabetLength = alphabet.length;
    let pass = "";
    for (let i = 0; i < 12; i++) {
      pass += alphabet.charAt(Math.floor(Math.random() * alphabet.length));
    }
    document.getElementById("input-password").value = pass;
    return pass;
  }
</script>
<div class="page-header">
  <!-- <h2>{$page->pageTitle}</h2> -->
</div>

<div class="register-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Crear Usuario</div>
          <div class="card-body">
            <form action="/toposiciones/admin/crear/" method="POST">
              <input type="hidden" name="register-request" value="register">
              <div class="form-group row">
                <label for="register-mail" class="col-md-4 col-form-label text-md-right">Email</label>
                <div class="col-md-6">
                  <input type="text" id="register-mail" class="form-control" name="register-mail" required autofocus>
                </div>
              </div>
              <div class="form-group row">
                <label for="register-user" class="col-md-4 col-form-label text-md-right">
                  Nombre
                </label>
                <div class="col-md-6">
                  <input type="text" id="register-user" class="form-control" name="register-user" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="register-level" class="col-md-4 col-form-label text-md-right">Nivel Acceso</label>
                <div class="col-md-6">
                  <input type="number" id="register-access" class="form-control" name="register-access" required min="0"
                    max="10" step="1" value="0">
                </div>
              </div>
              <div class=" form-group row">
                <label for="register-password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                <div class="input-group col-md-6">
                  <input type="password" id="input-password" class="form-control" name="register-password" required>
                  <div class="input-group-append">
                    <div class="input-group-text" onclick="showPassword()"><i class="fas fa-eye-slash"></i></div>
                    <div class="input-group-text" onclick="randomPassword()">
                      <i class="fas fa-key"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Registrar
                </button>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}