{extends 'layouts/main_layout.html'}
{block name="body-content"}
<div class="full-action-button text-center">
  <a data-toggle="collapse" data-target="#searchDiv">
    <i class="fas fa-filter"></i>
    <div>Filtrar Posts</div>
  </a>
</div>
<div id="searchDiv" class="col-md-12 text-center collapse">
  <form action="/toposiciones/foro/" method="POST">
    <div class="row justify-content-center">
      <div class="input-group">
        <input type="hidden" name="search-request" value="search">
        <input type="text" class="form-control" placeholder="Buscar" name="txtSearch" id="txtSearch" />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="fas fa-search"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{If isset($smarty.session.login_user)}
<div class="full-action-button text-center">
  <a href="/toposiciones/crear-post/">
    <i class="fas fa-plus-circle"></i>
    <div>Crear post</div>
  </a>
</div>
{/if}
<div class="page-header">
  <h2>{$page->pageTitle}</h2>
</div>
<div class="col-md-12 col-12 col-sm-12" style="overflow-x: scroll">
  <table class="table list-table table-striped table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tema</th>
        <th scope="col">Respuestas</th>
        <th scope="col">Actividad</th>
      </tr>
    </thead>
    <tbody>
      {foreach from=$all_posts item=post}
      <tr onclick="window.location='/toposiciones/foro/{$post.postId}';">
        <th scope="row">
          <div class="post-title">
            {$post.title}
            <div class="float-right secondary">{$post.user_name}</div>
          </div>
          <div class="post-content">{$post.content}</div>
        </th>
        <td class="text-center">{$post.message_count}</td>
        <td style="min-width: 100px">{$post.created_at}</td>
      </tr>
      {/foreach}
    </tbody>
  </table>
</div>
{/block}