{extends 'layouts/main_layout.html'}
{block name="body-content"}
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<div class="page-header">
  <h2>{$page->pageTitle}</h2>
</div>
<form action="/toposiciones/convocatorias/crear/" method="POST">
  <div class="form-group">
    <label for="input-opposition-link">Link oficial</label>
    <input type="text" class="form-control" id="input-opposition-link" name="input-opposition-link" required>
  </div>
  <div class="form-group">
    <label for="input-opposition-state">Provincia</label>
    <select id="inputSearchState" class="form-control form-control-md" name="input-opposition-state"></select>
  </div>
  <div class="form-group col-md-6 col-6 halfInput" style="padding-right: 20px;">
    <label for="input-opposition-seats">Plazas</label>
    <input type="number" class="form-control" id="input-opposition-seats" name="input-opposition-seats" value="1"
      min="1">
  </div>
  <div class="form-group col-md-6 col-6 halfInput">
    <label for="input-opposition-status">Estado</label>
    <select class="form-control form-control-md" name="input-opposition-status">
      <option value="Abierta">Abierta</option>
      <option value="Cerrada">Cerrada</option>
    </select>
  </div>
  <div class="form-group">
    <label for="input-opposition-category">Categoría</label><br>
    <select id="inputSearchCategory" class="form-control form-control-md" name="input-opposition-category"></select>
  </div>
  <div class="form-group col-md-6 col-6 halfInput" style="padding-right: 20px;">
    <label for="input-opposition-start">Fecha Inicio</label>
    <input type="date" class="form-control" id="input-opposition-start" name="input-opposition-start" required>
  </div>
  <div class="form-group col-md-6 col-6 halfInput ">
    <label for="input-opposition-end halfInput">Fecha Fin</label>
    <input type="date" class="form-control" id="input-opposition-end" name="input-opposition-end">
  </div>
  <div>
    <input class="btn btn-light float-left" type="reset" value="Limpiar">
    <button type="submit" class="btn btn-primary float-right">Guardar</button>
  </div>
  <br>

</form>
<script>
  window.onload = function () {
    searchExactCategoryJSON();
    searchStateJSON();
  }
</script>
{/block}