{extends 'layouts/main_layout.html'} {block name="body-content"}
<div class="full-action-button text-center">
  <a id="searchBtn" class="">
    <i class="fas fa-filter"></i>
    <div>Filtrar Convocatorias</div>
  </a>
</div>
<div id="search-container" class="col-md-12"></div>
{If isset($smarty.session.login_user)}
<div class="full-action-button text-center">
  <a href="/toposiciones/crear-convocatoria/">
    <i class="fas fa-plus-circle"></i>
    <div>Añadir Convocatoria</div>
  </a>
</div>
{If ($smarty.session.login_access_level > 5)}

<div class="full-action-button text-center">
  <a href="/toposiciones/lista-convocatoria/">
    <i class="fas fa-list"></i>
    <div>Listar Convocatorias</div>
  </a>
</div>
{If ($smarty.session.login_access_level > 8)}
<div class="full-action-button text-center">
  <a href="/toposiciones/convocatorias/categorias/">
    <i class="fas fa-list"></i>
    <div>Listar Categorías</div>
  </a>
</div>
<div class="full-action-button text-center">
  <a href="/toposiciones/convocatorias/ambitos/">
    <i class="fas fa-list"></i>
    <div>Listar Ámbitos</div>
  </a>
</div>
{/if}
{/if} {/if}
<div class="page-header">
  <h2>{$page->pageTitle}</h2>
  <p>Información de las últimas oposiciones</p>
</div>

{foreach from=$all_oppositions item=opposition}
<section id="" class="col-md-12">
  <div id="opposition1" class="opposition row col-md-12">
    <div class="opposition_image_container col-md-3 col-sm-3 text-center">
      <img class="rounded-circle"
        src="{$MEDIA_DIRECTORY}/images/banderas/bandera-{$opposition.state|urlify|lower}.png" />
    </div>

    <div class="texto-tema col-md-9 col-sm-9">
      <div class="">
        <a class="card-link" href="/toposiciones/convocatorias/convocatoria/{$opposition.oppositionId}">
          <h3>
            {if {$opposition.seats}>1} {$opposition.opposition_status|cat:"s"}
            {else} {$opposition.opposition_status} {/if} [{$opposition.seats}]
            {if {$opposition.seats}>1} plazas {else} plaza {/if} de
            {$opposition.category_name} en {$opposition.state}
          </h3>
        </a>
      </div>
      <div class="date">
        {$opposition.updated_at|date_format:"%e/%m/%G"}
      </div>
    </div>
    <hr />
  </div>
</section>
{/foreach}
<script>
  window.onload = function () {
    document.getElementById("searchBtn").addEventListener("click", showSearch);
  };
</script>
{/block}