{extends 'layouts/main_layout.html'}
{block name="body-content"}
{If isset($smarty.session.login_user)}
<div id="add-content" class="text-center">
  <a href="/toposiciones/crear-tema/">
    <i class="fas fa-plus-circle"></i>
    <div>Añadir Tema</div>
  </a>
</div>
{If ($smarty.session.login_access_level > 5)}
<br>
<div id="add-content" class="text-center">
  <a href="/toposiciones/lista-tema/">
    <i class="fas fa-list"></i>
    <div>Listar Temas</div>
  </a>
</div>
{/if}
{/if}
<div class="page-header">
  <h2>{$page->pageTitle}</h2>
  <p>Información de los últimos temas</p>
</div>

<!-- SECCION TEMAS -->

<section id="temas" class="col-md-12">
  {foreach from=$all_themes item=theme}
  <!-- TEMA-->
  <div id="tema1" class="tema row col-md-12">
    <div class="texto-tema col-md-10">
      <a href="/toposiciones/temas/tema/{$theme.themeId}">
        <h3>{$theme.theme_name}</h3>
      </a>
      <p>{$theme.content}</p>
    </div>
    <div class="col-md-2">
      <form action="/toposiciones/temas/tema/{$theme.themeId}">
        <button type="submit" class="btn btn-info">Acceder</button>
      </form>
    </div>
    <hr />
  </div>
  {/foreach}
</section>

{/block}