{extends 'layouts/main_layout.html'} {block name="body-content"}
<div class="full-action-button text-center">
  <a data-toggle="collapse" data-target="#searchDiv">
    <i class="fas fa-filter"></i>
    <div>Filtrar Temas</div>
  </a>
</div>
<div id="searchDiv" class="col-md-12 text-center collapse">
  <form action="/toposiciones/temas/" method="POST">
    <div class="row justify-content-center">
      <div class="input-group">
        <input type="hidden" name="search-request" value="search">
        <input type="text" class="form-control" placeholder="Buscar" name="txtSearch" id="txtSearch" />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="fas fa-search"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

{If isset($smarty.session.login_user)}
<div class="full-action-button text-center">
  <a href="/toposiciones/temas/crear/">
    <i class="fas fa-plus-circle"></i>
    <div>Añadir Tema</div>
  </a>
</div>
{If ($smarty.session.login_access_level >= 8)}
<div class="full-action-button text-center">
  <a href="/toposiciones/temas/lista/">
    <i class="fas fa-list"></i>
    <div>Listar Temas</div>
  </a>
</div>
{/if} {/if}
<div class="page-header">
  <h2>{$page->pageTitle}</h2>
  <p>Información de los últimos temas</p>
</div>

<!-- SECCION TEMAS -->
<section id="temas" class="col-md-12">
  {foreach from=$all_themes item=theme}
  <!-- TEMA-->
  <div id="tema1" class="tema row col-md-12">
    <div class="texto-tema col-md-12">
      <a href="/toposiciones/temas/tema/{$theme.themeId}">
        <h3>{$theme.theme_name}</h3>
      </a>
      <p>{$theme.content|strip_tags}</p>
    </div>
    <hr />
  </div>
  {/foreach}
</section>
{/block}