<!-- SantiMNV
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
-->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$page->topTitle}</title>
  <!-- fontawesome -->
  <link href="{$CSS_DIRECTORY}/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- Versión compilada y minimizada del CSS de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- CSS propio que usaremos para personalizar BS -->
  <link rel="stylesheet " href="{$CSS_DIRECTORY}/estilos.css" />
  <link rel="icon" href="{$MEDIA_DIRECTORY}/images/company/fototopo32no-fondo.png">
</head>

<body>



  <!-- Barra Menu -->
  <nav class="navbar navbar-expand-md sticky-top container-fluid" id="menu-bar">
    <!-- Brand/logo -->
    <div class=" col-md-3" id="menu-first-line">
      <a class="navbar-brand " href="/toposiciones/" id="brand-menu">
        <!-- <img src="../../../../media/images/fototopo64v2.png">-->
        <img src="{$MEDIA_DIRECTORY}/images/company/fototopo64v2.png">
        <div>
          <h1>Toposiciones</h1>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <!-- Menu -->
    <div class="collapse col-md-9 navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col-md-8 col-sm-6 col-6" id="main-menu">
        <li class="nav-item"><a class="nav-link" href="/toposiciones/convocatorias/">Convocatorias</a></li>
        <li class="nav-item"><a class="nav-link" href="/toposiciones/temas/">Temas</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="">Tests</a></li>-->
        <li class="nav-item"><a class="nav-link" href="/toposiciones/soluciones/">Soluciones</a></li>
        <li class="nav-item"><a class="nav-link" href="/toposiciones/foros/">Foros</a></li>
      </ul>
      <ul class="navbar-nav col-md-2 col-sm-6 col-6 ml-auto" id="right-menu">
        <li class="nav-item">
          {if isset($smarty.session.login_user)}
          <a class="nav-link" href="/toposiciones/profile/">
            <i class="fas fa-user"></i>
            Cuenta
          </a>
          {else}
          <a class="nav-link" href="/toposiciones/login/">
            <i class="fas fa-user"></i>
            Entrar
          </a>
          {/if}
        </li>
        <li class="nav-item" id="searchBtn">
          <a class="nav-link">
            <i class="fas fa-search"></i>
            Buscar
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid row" id="wrapper">
    <!-- Left bar -->
    <div class="left-bar col-md-3 d-none d-lg-block order-1">
      <div class="sticky-top">
        <div class="card">
          <img class="card-img-top" src="{$MEDIA_DIRECTORY}/images/calendario-sin-fondo.png" alt="Calendario">
          <h5 class="card-title"><a href="/toposiciones/convocatorias/">Últimas oposiciones</a></h5>
          <ul class="list-group list-group-flush">
            {foreach from=$oppositions item=opposition}
            <li class="list-group-item">
              <img class="rounded-circle img-responsive"
                src="{$MEDIA_DIRECTORY}/images/banderas/bandera-{$opposition.state|urlify|lower}.png">
              <div class="">
                <a class="card-link" href="/toposiciones/convocatorias/convocatoria/{$opposition.oppositionId}">
                  {if {$opposition.seats}>1}
                  {$opposition.opposition_status|cat:"s"}
                  {else}
                  {$opposition.opposition_status}
                  {/if}
                  [{$opposition.seats}]
                  {if {$opposition.seats}>1}
                  plazas
                  {else}
                  plaza
                  {/if}
                  de {$opposition.category_name} en {$opposition.state}
                </a>
              </div>
              <div class="date">
                {$opposition.updated_at|date_format:"%e/%b/%G %H:%M:%S"}
              </div>
            </li>
            {/foreach}
          </ul>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="col-md order-2" id="content">
      <nav aria-label="breadcrumb" class="sticky-top breadcrumb-nav d-none d-lg-block">
        <ol class="breadcrumb">
          {foreach item=crumb from=$breadCrumbs name=breadCrumb}
          {if $smarty.foreach.breadCrumb.first}
          <li class="breadcrumb-item"><a href="/{$crumb|lower|cat:'/'}">Inicio</a>
          </li>
          {else}
          {if $smarty.foreach.breadCrumb.last}
          <li class="breadcrumb-item active" aria-current="page">{$crumb}
          </li>
          {else}
          <li class="breadcrumb-item"><a href="/toposiciones/{$crumb|lower|cat:'/'}">{$crumb}</a></li>
          {/if}
          {/if}

          {/foreach}
        </ol>
      </nav>
      <div id="search-container" class="col-md-12">

      </div>
      <div class="alerts">
        {foreach key=alert_key item=alert_item from=$alerts}
        <div class="alert {$alert_item} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {$alert_key}
        </div>
        {/foreach}
      </div>
      <div class="body-content">
        {block name="body-content"}
        <div class="page-header">
          <h2>{$page->pageTitle}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et
            dolore magna aliqua. Ut enim ad</p>
        </div>
        <!-- SECCION TEMAS -->
        <section id="temas" class="col-md-12">
          <!-- TEMA-->
          <div id="tema1" class="tema row col-md-12">
            <div class="texto-tema col-md-10">
              <h3>Procedimiento administrativo local</h3>
              <p>Procedimiento administrativo local. El registro de entrada y salida de documentos. Requisitos
                de la presentación de
                documentos. Comunicaciones y notificaciones</p>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-info">Acceder</button>
            </div>
            <hr />
          </div>
          <div id="tema1" class="tema row col-md-12">
            <div class="texto-tema col-md-10">
              <h3>Procedimiento administrativo local</h3>
              <p>Procedimiento administrativo local. El registro de entrada y salida de documentos. Requisitos
                de la presentación de
                documentos. Comunicaciones y notificaciones</p>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-info">Acceder</button>
            </div>
            <hr />
          </div>
          <div id="tema1" class="tema row col-md-12">
            <div class="texto-tema col-md-10">
              <h3>Procedimiento administrativo local</h3>
              <p>Procedimiento administrativo local. El registro de entrada y salida de documentos. Requisitos
                de la presentación de
                documentos. Comunicaciones y notificaciones</p>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-info">Acceder</button>
            </div>
            <hr />
          </div>
        </section>

        {/block}
      </div>

    </div>
    <!-- Right bar -->
    <div class="right-bar col-md-2 d-none d-lg-block order-3 ">
      <div class="sticky-top">
        <div class="card">
          <img class="card-img-top" src="{$MEDIA_DIRECTORY}/images/foro.jpg" alt="Foro">
          <h5 class="card-title">Mensajes en foro</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <img class="rounded-circle img-responsive" src="{$MEDIA_DIRECTORY}/images/profile_pic.jpeg" alt="Messi">
              <div class="user-name">
                &nbsp;
                <a href="">Messi chikito</a>
              </div>
              <div class="question">
                Cuanto es el resultado de uno mas uno?
              </div>
              <div class="date">
                23/3/21 8:41
              </div>
            </li>
            <li class="list-group-item">
              <img class="rounded-circle img-responsive" src="{$MEDIA_DIRECTORY}/images/profile_pic.jpeg" alt="Messi">
              <div class="user-name">
                &nbsp;
                <a href="">Messi chikito</a>
              </div>
              <div class="question">
                Cuanto es el resultado de uno mas uno?
              </div>
              <div class="date">
                23/3/21 8:41
              </div>
            </li>
            <li class="list-group-item">
              <img class="rounded-circle img-responsive" src="{$MEDIA_DIRECTORY}/images/profile_pic.jpeg" alt="Messi">
              <div class="user-name">
                &nbsp;
                <a href="">Messi chikito</a>
              </div>
              <div class="question">
                Cuanto es el resultado de uno mas uno?
              </div>
              <div class="date">
                23/3/21 8:41
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <button id="backToTopBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
  </div>

  <!-- Footer -->
  <footer class="text-center">
    <div class="p-4">
      <section class="mb-4">
        <!-- Google -->
        <a class="btn btn-outline-light m-2" href="mailto:santimnv27@gmail.com" role="button"><i
            class="fab fa-google"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light m-2" href="www.linkedin.com/in/santimnv" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light m-2" href="https://github.com/santimnv" role="button"><i
            class="fab fa-github"></i></a>
      </section>
      <section class="mb-4">
        <p>
          Trabajo Final de Grado IES A.G.Linares (Cantabria) <br />
          Desarrollo de Aplicaciones Web
        </p>
        <p>
          <a href="">Cookies & Política de privacidad</a>
        </p>
      </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3"">
            &copy; 2021 Copyright: SantiMNV
            <a class=" text-white" href="https://toposiciones.es">Toposiciones.es</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{$JS_DIRECTORY}/main.js"></script>

</html>